<mat-card style="background-color: #199fff; color:white;">Renting history</mat-card>
<mat-card>
    <table>
        <tr>
          <th>BRAND</th>
          <th>SUBURB</th>
          <th>STREET</th>
          <th>DOORS</th>
          <th>TRANSMISSION</th>
          <th>DATE</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>

        </tr>
      </table>
</mat-card>

<br>
<mat-card style="background-color: #199fff; color:white;">Added Cars</mat-card>
<mat-card>
    


<table>
  <tr>
    <th>BRAND</th>
    <th>MODEL</th>
    <th>YEAR</th>
    <th>DOOR</th>
    <th>SUBURB</th>
    <th>STREET</th>
    <th>RATE</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
    <td>Germany</td>
  </tr>
</table>
</mat-card>
