
<div>
    <br>
    
<!-- 
<div class="signup-form"> -->

<h5>Personal information</h5>
first name:<br>
<input class="s-input" type='text' name='firstname' placeholder="Enter name.."required (click)="resetErrors()" [(ngModel)]="signupDetails.firstName"><br>
<span style="display: none" [class.error]="signupDetails.firstName == '' && signupAttempt">Please enter a firstname</span>

last name:<br>
<input class="s-input" type='text' name='lastname' placeholder="Enter name.."required (click)="resetErrors()" [(ngModel)]="signupDetails.lastName"><br>
<span style="display: none" [class.error]="signupDetails.lastName == '' && signupAttempt">Please enter a lastname</span>

username:<br>
<input class="s-input" type='text' name='username' placeholder="Enter username.."required (click)="resetErrors()" [(ngModel)]="signupDetails.username"><br>
<span style="display: none" [class.error]="signupDetails.username == '' && signupAttempt">Please enter a username</span>

email:<br>
<input class="s-input"type='email' name='e-mail' placeholder="Enter email.."required (click)="resetErrors()" [(ngModel)]="signupDetails.email"><br>
<span style="display: none" [class.error]="signupDetails.email == '' && signupAttempt">Please enter an email</span>

password:<br>
<input class="s-input" type='password' name='pwd' placeholder="Enter password.." required (click)="resetErrors()" [(ngModel)]="signupDetails.password"><br>
<span style="display: none" [class.error]="signupDetails.password == '' && signupAttempt">Please enter a password</span>

<hr>

<br>

<h5>Bank details</h5>
Card number:<br>
<input class="s-input" type='text' name='name' placeholder="Enter card number.."required (click)="resetErrors()" [(ngModel)]="signupDetails.ccNumber"><br>
<span style="display: none" [class.error]="signupDetails.ccNumber == '' && signupAttempt">Please enter a card number</span>

CSV:<br>
<input class="s-input" type='text' name='name' placeholder="Enter CSV.."required (click)="resetErrors()" [(ngModel)]="signupDetails.csv"><br>
<span style="display: none" [class.error]="signupDetails.csv == '' && signupAttempt">Please enter a CSV</span>
<!-- expired date:<br>
<input class="s-input" type='text' name='name' required><br> -->
<hr>

<br>

<h5>Driving license</h5>
License number:<br>
<input class="s-input" type='text' name='name' placeholder="Enter license number.."required (click)="resetErrors()" [(ngModel)]="signupDetails.licenseNumber"><br>
<span style="display: none" [class.error]="signupDetails.licenseNumber == '' && signupAttempt">Please enter a license number</span>

Upload your driving license:<br>
<input class="s-input" type="file" name="fileupload" value="fileupload" id="fileupload"> <br>



<br>
<fieldset>
<span style="display: none" [class.error]="signupFailed">That username already exists!</span>
<input type='submit' name='name' required (click)="signup()"><br><br>
</fieldset>
</div>

