<div *ngIf="displayResults" class="search-results">
  <div *ngFor="let result of displayResults.results">
    <div *ngIf="!filterResult(result)" class="container">
      <div class="result">
        <div class="row">
            <div class="col-sm-5">
              <div class="result-image">
                <img class="img-responsive">
              </div>
            </div>
            <div class="col-sm-7">
            <div class="result-details">
                <h5 class="name">
                  {{result.type.brand}} {{result.type.model}}
                  <span>{{result.location.suburb}}</span>
                </h5>
                <p class="price-container">
                  <span>${{result.rate}} p/day</span>
                </p>
                <span class="tag1"></span>
            </div>
            <div class="description">
              <p>Available from : {{result.startDate.split('T')[0]}}</p>
              <p>Available until : {{result.endDate.split('T')[0]}}</p>
            </div>
            <div class="product-info">
              <a class="btn btn-danger" (click)="setSelectedCar(result)" routerLink="/booking">Book</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="resultsError">
  <span>{{ resultsError }}</span>
</div>
