#search-box {
  width: 80%;
  height: 120px;
  margin: 0 auto;
  padding-top : 70px;
  padding-bottom: 120px;
}

#search-location {
  width: 60%;
  height: 50px;
}

#date-range {
  width: 30%;
  height: 50px;
}

button, input {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
}

input:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

button {
  height: 50px;
  width: 10%;
  color: white;
  background-color: #199fff;
  border-color: #199fff;
}

button:hover {
  background-color: #1899F5;
  border-color: #1899F5;
}

.centerDiv
{
  width: 80%;
  height:700px;
  margin: 0 auto;
  background-color:#FFA500 ;
}
.div1
{
  width: 50%;
  height:700px;
  background-color: #DCDCDC;
  float:left;
  overflow-y: scroll;
}
.div2
{
  width: 50%;
  height:700px;
  background-color: #DCDCDC;
  float:left;
}
