<div class="wrapper" *ngIf="true" >
    <!-- this section handles the sidebar navigation on the account page -->
    <div class="sidebar" style="background-color: rgba(0, 0, 0, 0.0); margin-left: 0px; margin-right: 0px;">
        <mat-card class="header">
                <img ngxGravatar [email]="getGravatar()"> <h1>{{ getCurrentUser().username }}</h1>
        </mat-card>
        <mat-card class="sidebarbody">
            <nav>
                <!-- these buttons hide the appropriate divs -->
                <a mat-button (click)="showAccount()">Account</a><br><hr>
                <a mat-button (click)="showMyVehicles()">My Vehicles</a><br><hr>
                <a mat-button (click)="showRegisterCar()">Register a Car</a><br><hr>
                <a mat-button (click)="showActivityHistory()">Activity History</a><br>
            </nav>
        </mat-card>
    </div>
    <!-- This is the section for the content to be swapped in and out -->
    <div class="main" style="background-color: rgba(0, 0, 0, 0.0); margin-left: 0px; margin-right: 0px;"> 
        <!-- we place the different app components here and hide them when a button is pressed -->
        <app-account-details *ngIf="accountPage"></app-account-details>
        <app-my-vehicles *ngIf="myVehicles"></app-my-vehicles>
        <app-addcarform *ngIf="registerCar"></app-addcarform>
        <app-account-history *ngIf="activityHistory"></app-account-history>
        
    </div>
</div>