<html>


<div>
<div id="toolbar" class="fixed-header">
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="companyName" routerLink="/" >
      <span>{{ appTitle }} <img src="assets/img/carfishLogo.png"></span>
    </a>
    <span class="example-spacer"></span>

    <div *ngIf="getCurrentUser(); else loggedOut">
      <div fxShow="true" fxHide.lt-md="true">
        <nav>
          <a mat-button routerLink="/prices">Prices</a>
          <a mat-button routerLink="/cars">Cars</a>
          <a mat-button routerLink="/about" routerLinkActive="active">About</a>
          <a mat-button (click)="logout()">Log Out</a>
          <a mat-button routerLink="/account/details">{{ getCurrentUser().username }}</a>
        </nav>
      </div>
    </div>

    <ng-template #loggedOut>
      <div fxShow="true" fxHide.lt-md="true">
        <nav>
          <a mat-button routerLink="/prices">Prices</a>
          <a mat-button routerLink="/cars">Cars</a>
          <a mat-button routerLink="/about" routerLinkActive="active">About</a>
          <a mat-button routerLink="/login">Log in</a>
          <a mat-button routerLink="/signup">Sign up</a>
        </nav>
      </div>
    </ng-template>

  </mat-toolbar>
<!--   <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav id="sidebar" color="orange" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">

          <a mat-button routerLink="/prices">Prices</a>
          <a mat-button routerLink="/about" routerLinkActive="active">About</a>
          <a mat-button routerLink="/login">Log in</a>
          <a mat-button routerLink="/signup">Sign up</a>
      
      </div>
    </mat-sidenav>
    
  </mat-sidenav-container> -->



  </div>
</div>
</html>
