
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app=""> 

<div id="toolbar" class="fixed-header">
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="companyName" routerLink="/" >
      <span (click)="aboutOff(); mapOn();">{{ appTitle }}</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
        <a mat-button (click)="aboutOff(); mapOn();">Search</a>
        <a mat-button (click)="aboutOff()">Account</a>
        <a mat-button (click)="aboutOn(); mapOff();">About</a>
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    
    
<!--VVVVVVVVVV This is the section where all the components should go VVVVVVVVVV-->
<!--These should all have relevant buttons to activate the relevant section and then hide all other sections--> 

    <div *ngIf="this.hideAbout">       <!-- the about section --> 
      <app-about></app-about>
    </div>
    
    <div *ngIf="this.hideMap">         <!-- The map and search bar section--> 
      <app-searchbar></app-searchbar>  
      <app-map></app-map>
    </div>
<!--^^^^^^^^^^^ This is the section where all the components should go ^^^^^^^^-->    


    <mat-sidenav id="sidebar" color="orange" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button (click)="aboutOff(); mapOn();">Search</a>
        <a mat-button (click)="aboutOff()">Account</a>
        <a mat-button (click)="aboutOn(); mapOff();">About</a>
      </div>
    </mat-sidenav>

  </mat-sidenav-container> 

</div>
</body>
</html>

