<!-- <div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div> -->
<div class="container-fluid" id="booking-component">
  <div class="row">
    <div class="col-sm-7">
      <h2>{{selectedCar.type}}</h2>
      <p>Available from : {{selectedCar.startDate.split('T')[0]}}</p>
      <p>Available until : {{selectedCar.endDate.split('T')[0]}}</p>
    </div>
   <div class="col-sm-5">
      <div class="result-image">
        <img class="img-responsive">
      </div>
   </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Location: {{selectedCar.location}}</p>
      <p>Detail : </p>
      <p>Detail : </p>
      <div id="date-picker">
        <p style="padding-bottom: 15px;">Select dates : <input #dateRange type="text" id="date-range" bsDaterangepicker [bsConfig]="datePickerConfig"  (bsValueChange)="validateDateRange($event)" (click)="reset()"></p>
        <span style="display: none" [class.error]="invalidRange">Already a booking during that time!</span>
        <div class="payment">
          <a class="btn btn-danger">Payment</a>
        </div>
      </div>
    </div>
  </div>
</div>