<!-- <div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div> -->
<div id="booking-component">
  <div id="date-picker">
    <h4><label for="search-box">Book Car</label></h4>
    <input #dateRange type="text" id="date-range" bsDaterangepicker [bsConfig]="datePickerConfig"  (bsValueChange)="validateDateRange($event)" (click)="reset()">
    <button>Book</button>
    <span style="display: none" [class.error]="invalidRange">Already a booking during that time!</span>
  </div>
</div>