.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

#booking-component {
  width: 50%;
  margin: 0 auto;
  padding-top : 100px;
  padding-bottom: 120px;
  background: white;
}

.error {
  display: block !important;
  font-size: small;
  font-style: italic;
  color: red;
  padding-bottom: 15px;
}

.result-image {
  background-color: #EBF8FE;
  border: 1px solid #CEEFFF;
}

p, h2 {
  border-bottom: 1px solid #dfe5e9;
}

img{
  width:230px;
  height: 160px;
  padding-left: 40px;
}