<p>cars works!</p>


<div>
    <br><br><br><br>
    
    <h1>Car Models</h1>
    
    
    
                    <!-- <select id="Car-Types" name="Car-Types" onchange="myFunction()">
                        <option value="" selected>Select car types..</option>
                        <option value="hb">Hatchback</option>
                        <option value="sd">Sedan</option>
                        <option value="suv">SUV</option> 
                    </select> -->
    
                    <!-- <br><br> -->
    
    
                    <div class="imgContainer">
                        <img src="assets/img/suzuki-swift.jpg">
                        <p>-Suzuki swift</p>
                        <p>-This is a descriptions...</p>
                        <p>-Feature1...</p>
                        <p>-Feature2...</p>
                        <p>-Price...</p>
                        <div class="Button">
                        <button type="button" onclick="alert('Hello world!')">BOOK NOW</button>
                        </div>
                        <br>
                        <br>
                    </div>
    
                   
                   
    
                    <div class="imgContainer">
                       
                       
                        <img src="assets/img/Mazda-2-Neo-Hatch-2017-1.jpg">
                        <p>-Mazda 2 neo</p>
                        <p>-This is a descriptions...</p>
                        <p>-Feature1...</p>
                        <p>-Feature2...</p>
                        <p>-Price...</p>
                        <div class="Button">
                            <button type="button" onclick="alert('Hello world!')">BOOK NOW</button>
                        </div>
                        <br>
                        <br>
                    </div>
    
                    <div class="imgContainer">
                       
                       
                        <img src="assets/img/citr.jpg">
                        <p>-Mazda 2 neo</p>
                        <p>-This is a descriptions...</p>
                        <p>-Feature1...</p>
                        <p>-Feature2...</p>
                        <p>-Price...</p>
                        <div class="Button">
                            <button type="button" onclick="alert('Hello world!')">BOOK NOW</button>
                        </div>
                        <br>
                        <br>
                    </div>
            
    
                </div>
    
                
