#map {
  height: 700px;
  margin: 10%;
  margin-top: 5%;
}

.bottom-text {
  padding: 5px;
  outline: 10px solid white;
  background-color: #199fff;
  width: 25%;
}

#infoBox {
  margin: 0 auto;
}

#close {
  float:right;
  display:inline-block;
  padding:2px 5px;
  /*background:#ccc;*/
}

#close:hover {
  float:right;
  display:inline-block;
  padding:2px 5px;
  background:#ccc;
  color:#fff;
}

agm-map {
  height: 90%;
}
