#map {
  padding: 30px;
}

#infoBox {
  margin: 15px;
  padding: 5px;
  border: 2px solid black;
  outline: 10px solid blue;
  width: 25%;
}

/* 400px seems to be right */
agm-map {
  height: 300px;
}
