#map {
  padding: 30px;
}

#infoBox {
  margin: 15px;
  padding: 5px;
  outline: 10px solid white;
  background-color: #199fff;
  width: 25%;
}

/* 400px seems to be right */
agm-map {
  height: 300px;
}
