<!-- <h1>Log in</h1><p></p><p></p>



<div class="login-form">
email:
<input type='text' name='e-mail' required><p></p>
password:
<input type='password' name='pwd' required><p></p>




<p></p>

<input type='submit' name='name' required>

</div> -->


<div>

    <!-- <form action="/action_page.php"> -->
      <br>
      <label for="uname">Email</label><br>
      <input type="text" id="uname" name="username" placeholder="Enter email.."><br>
    
  
      <label for="pword">Password</label><br>
      <input type="password" id="pword" name="password" placeholder="Enter password.."><br>
  
    
      <input type="submit" value="Submit"><br><br>
    <!-- </form> -->
    <hr>
    <p>New user? please <a routerLink="/signup">register here</a></p>
  </div>
  