<div class = "template">
        <mat-card style="background-color: #199fff; color:white;"><h1>Your Key for car rental</h1></mat-card>
        <div class = "banner">
        <img src="assets/img/cars.jpg">
        </div>
        <p>CarFish operates a fleet of late model rental cars in Australia, with a range of small hatchbacks, larger sedans, the ever popular SUV's, and an 8 seater people mover. Choose the right vehicle for your travel needs. CarFish was founded in 2019 which focus on car rental and giving customer the best experience for travelling easier, quicker and cheaper.
                
        </p>

        <mat-card style="background-color: #199fff; color:white;">How to rent a car?</mat-card>
        <br>

      
      
        <div class="image123">
                <div class="imgContainer">
                   <p>1.Register and log in</p>
                   <img src="assets/img/form.png">
                   <br>
                </div>
        
        
                <div class="imgContainer">
                        <p>2.Search for a car</p>
                        <img src="assets/img/seo.png">
                        <br>
                </div>
        
        
                <div class="imgContainer">
                        <p>3.Make a payment for a car</p>
                        <img src="assets/img/debit-card.png">>
                        <br>
                </div>
        
        
                <div class="imgContainer">
                        <p>4.Enjoy your ride</p>
                        <img src="assets/img/automobile.png">
                        <br>
                    
                </div>
        
        
        </div>
        <br>
        <br>
<br>
            <mat-card style="background-color: #199fff; color:white;">How to register a car?</mat-card>
            <br>
            <div class="image123">
                    <div class="imgContainer">
                       <p>1.Register and log in</p>
                       <img src="assets/img/form.png">
                       <br>
                    </div>
            
            
                    <div class="imgContainer">
                            <p>2.Enter car details</p>
                            <img src="assets/img/resume.png">
                            <br>
                    </div>
            
            
                    <div class="imgContainer">
                            <p>3.Wait for customer</p>
                            <img src="assets/img/target.png">>
                            <br>
                    </div>
            
            
                    <div class="imgContainer">
                            <p>4.Recieved Payment</p>
                            <img src="assets/img/money.png">
                            <br>
                        
                    </div>
            
            
            </div>
            <br>
</div>